.row-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bottom-margin {
  margin-bottom: 3rem;
}


.header-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mobile-header-margin {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.light-padding {
  padding: 1rem;
}

.subtle-section {
  padding-top: 1rem;
  color: $iron;
  border-bottom: 1px $smoke solid;
  margin-bottom: 1rem;
}

.vee-card {
  font-size: .85rem;
}

.light-text {
  font-weight: 100;
}
