{{#slick-carousel}}
  <div><img src="assets/img/galleries/fall-winter-2014/2.jpg"></div>
  <div><img src="assets/img/galleries/fall-winter-2014/4.jpg"></div>
  <div><img src="assets/img/galleries/fall-winter-2014/6.jpg"></div>
  <div><img src="assets/img/galleries/fall-winter-2014/8.jpg"></div>
  <div><img src="assets/img/galleries/fall-winter-2014/10.jpg"></div>
{{/slick-carousel}}
