{{#slick-carousel}}
  <div><img height="617" src="assets/img/galleries/summer-2014/1.jpg"></div>
  <div><img height="617" src="assets/img/galleries/summer-2014/2.jpg"></div>
  <div><img height="617" src="assets/img/galleries/summer-2014/3.jpg"></div>
  <div><img height="617" src="assets/img/galleries/summer-2014/4.jpg"></div>
  <div><img height="617" src="assets/img/galleries/summer-2014/5.jpg"></div>
  <div><img height="617" src="assets/img/galleries/summer-2014/6.jpg"></div>
{{/slick-carousel}}
