<div class="row">
  <div class="medium-6 columns"><img src="assets/img/about.jpg"></div>
  <div class="medium-6 columns medium-font row-margin">
    <h5><b>Wife, boss, mom, lover, fighter...</b></h5>
      I'm basically like the #1 best wife ever.  It's suprising I don't get awards daily.  It turns out I'm an even better mom.

      It's also add you haven't bought more of my jewels by now.

      Also inspiring, thoughful and cute.
  </div>
</div>
