<div class="hide-for-medium-up off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li>{{#link-to 'collections.index'}}COLLECTIONS{{/link-to}}</li>
        <li><a href='https://www.etsy.com/shop/SarahSafaviJewelry'>SHOP</a></li>
        <li>{{#link-to 'stores'}}BRICK &amp; MORTAR{{/link-to}}</li>
        <li><a href='http://sarahsafavijewelry.tumblr.com/'>BLOG</a></li>
        {{!-- <li>{{#link-to 'about'}}ABOUT{{/link-to}}</li> --}}
        <li>{{#link-to 'contact'}}CONTACT{{/link-to}}</li>
      </ul>
    </aside>

    <section class="main-section">

      <div class="row mobile-header-margin">
        <div class="small-10 columns small-offset-1">
          {{#link-to "index"}}<img src="assets/img/logo/logo-long.svg">{{/link-to}}
        </div>
      </div>

      <div class="row small-collapse medium-collapse">
        <div class="small-12 columns">
          {{outlet}}
        </div>
      </div>

      <div class="row header-margin">
        <div class="text-center ssj-subtle-type">
          <small>&copy; SARAH SAFAVI JEWELRY</small>
        </div>
      </div>

    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>


<div class="show-for-medium-up">
  <div class="row  row-margin header-margin">
    <div class="medium-3 columns">
      {{#link-to "index"}}<img src="assets/img/logo/logo-long.svg">{{/link-to}}
    </div>
    <div class="medium-9 columns show-for-medium-up">
      <nav role="navigation">
        <ul class="ssj-simple-nav">
          <li>{{#link-to 'collections.index'}}collections{{/link-to}}</li>
          <li><a href='https://www.etsy.com/shop/SarahSafaviJewelry'>shop</a></li>
          <li>{{#link-to 'stores'}}brick &amp; mortar{{/link-to}}</li>
          <li><a href='http://sarahsafavijewelry.tumblr.com/'>blog</a></li>
          {{!-- <li>{{#link-to 'about'}}about{{/link-to}}</li> --}}
          <li>{{#link-to 'contact'}}contact{{/link-to}}</li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row small-collapse medium-collapse">
    <div class="small-12 columns">
      {{outlet}}
    </div>
  </div>

  <div class="row header-margin">
    <div class="text-center ssj-subtle-type">
      <small>
        &copy; SARAH SAFAVI JEWELRY
        {{#if session.isAuthenticated}}
          - <a {{ action 'invalidateSession' }}>Logout</a>
        {{/if}}
      </small>
    </div>
  </div>
</div>
