
<div class="row show-for-medium-up row-margin">
  <div class="medium-3 columns">
    <img src="assets/img/logo/logo-long.svg">
  </div>
  <div class="medium-9 columns show-for-medium-up">
    <nav role="navigation">
      <ul class="ssj-simple-nav">
        <li>{{#link-to 'collections'}}collections{{/link-to}}</li>
        <li><a href='https://www.etsy.com/shop/SarahSafaviJewelry'>shop</a></li>
        <li>{{#link-to 'stores'}}brick &amp; mortar{{/link-to}}</li>
        <li><a href='http://sarahsafavijewelry.tumblr.com/'>blog</a></li>
        <li>{{#link-to ''}}about{{/link-to}}</li>
        <li>{{#link-to 'contact'}}contact{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="row show-for-small-only row-margin">
  <div class="small-10 columns small-offset-1">
    <img src="assets/img/logo/logo-long.svg">
  </div>
</div>

<div class="row small-collapse medium-collapse">
  <div class="small-12 columns">
    {{outlet}}
  </div>
</div>

<div class="row text-center show-for-small-only row-margin">
  <nav role="navigation" aria-hidden="true">
    <div class="small-12 columns">{{#link-to 'collections'}}collections{{/link-to}}</div>
    <div class="small-12 columns"><a href='https://www.etsy.com/shop/SarahSafaviJewelry'>shop</a></div>
    <div class="small-12 columns">{{#link-to 'stores'}}brick &amp; mortar{{/link-to}}</div>
    <div class="small-12 columns"><a href='http://sarahsafavijewelry.tumblr.com/'>blog</a></div>
    <div class="small-12 columns">{{#link-to ''}}about{{/link-to}}</div>
    <div class="small-12 columns">{{#link-to 'contact'}}contact{{/link-to}}</div>
  </nav>
</div>

<div class="row">
  <div class="text-center ssj-subtle-type">
    <small>&copy; SARAH SAFAVI JEWELRY</small>
  </div>
</div>
