<div class="row row-margin">
  <div class="small-12 columns text-center">
    <nav role="navigation">
      <ul class="ssj-simple-nav">
        <li>{{#link-to ''}}Fall/Winter 2014{{/link-to}}</li>
        <li><a href="#">Summer 2014</a></li>
      </ul>
    </nav>
  </div>
</div>
{{#slick-carousel}}
  <div><img src="assets/img/galleries/fall-winter-2014/10.jpg"></div>
  <div><img src="assets/img/galleries/fall-winter-2014/2.jpg"></div>
  <div><img src="assets/img/galleries/fall-winter-2014/4.jpg"></div>
  <div><img src="assets/img/galleries/fall-winter-2014/6.jpg"></div>
  <div><img src="assets/img/galleries/fall-winter-2014/8.jpg"></div>
{{/slick-carousel}}
