<div class="row hide-for-medium-up">
  <div class="small-12 columns text-center">
    <nav role="navigation">
      <ul class="ssj-simple-nav-small">
        <li>{{#link-to 'collections.spring-2015'}}Spring 2015{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="row hide-for-medium-up">
  <div class="small-12 columns text-center">
    <nav role="navigation">
      <ul class="ssj-simple-nav-small">
        <li>{{#link-to 'collections.fall-winter-2014'}}Fall/Winter 2014{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="row hide-for-medium-up">
  <div class="small-12 columns text-center">
    <nav role="navigation">
      <ul class="ssj-simple-nav-small">
        <li>{{#link-to 'collections.summer-2014'}}Summer 2014{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="row row-margin show-for-medium-up">
  <div class="small-12 columns text-center">
    <nav role="navigation">
      <ul class="ssj-simple-nav">
        <li>{{#link-to 'collections.spring-2015'}}Spring 2015{{/link-to}}</li>
        <li>{{#link-to 'collections.fall-winter-2014'}}Fall/Winter 2014{{/link-to}}</li>
        <li>{{#link-to 'collections.summer-2014'}}Summer 2014{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</div>
{{outlet}}
