<div class="row text-center">
  <p>Have a burning question, interested in wholesale or just want to say hello?</p>
  <p>Send it to sarah@sarahsafavijewelry.com.</p>
  <p>If inquiring about carrying SSJ please include a bit about your shop/site.</p>
</div>
{{outlet}}
