<li>{{#link-to 'collections.index'}}COLLECTIONS{{/link-to}}</li>
<li><a href='https://www.etsy.com/shop/SarahSafaviJewelry'>SHOP</a></li>
<li>{{#link-to 'stores'}}BRICK &amp; MORTAR{{/link-to}}</li>
<li><a href='http://sarahsafavijewelry.tumblr.com/'>BLOG</a></li>
{{!-- <li>{{#link-to 'about'}}ABOUT{{/link-to}}</li> --}}
<li>{{#link-to 'contact'}}CONTACT{{/link-to}}</li>