{{#if session.isAdmin}}
  {{#link-to 'stores.new'}}<button>Add a Store</button>{{/link-to}}
{{/if}}

{{liquid-outlet use="crossFade"}}

<div class="light-padding">
  {{#each set in groupedStores}}
    <div class="text-center subtle-section">{{set.longState}}</div>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      {{#each store in set.stores}}
        <li class="text-center">
          {{vee-card model=store}}
        </li>
      {{/each}}
    </ul>
    <div class="row">
    </div>
  {{/each}}
</div>
